<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1>Homework</h1>

<ul>
	<li th:each="employee : ${employees}">
		<span th:text="${employee.id}"></span>
		<span th:text="${employee.job}"></span>
		<span th:text="${employee.salary}"></span>
		<span th:text="${employee.startedWorking}"></span>
	</li>

</ul>

<form th:object="${newEmployee}" method="post" th:action="@{/employee}">
	Id: <input th:field="*{id}" /> <br/>
	Job: <input th:field="*{job}" /> <br/>
	Salary: <input th:field="*{salary}" /> <br/>
	Starting date: <input th:field="*{startedWorking}" /> <br/>
	<input type="submit" value="Create" />
</form>
</body>
</html>