<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Homework</title>
</head>
<body>

<h1>Homework</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Job</th>
            <th>Salary</th>
            <th>Started Working</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.job}"></td>
            <td th:text="${employee.salary}"></td>
            <td th:text="${employee.startedWorking}"></td>
        </tr>
    </tbody>
</table>

<br/>

<form th:object="${newEmployee}" method="post" th:action="@{/employee}">
    Id: <input th:field="*{id}" /> <br/>
    Job: <input th:field="*{job}" /> <br/>
    Salary: <input th:field="*{salary}" /> <br/>
    Starting date: <input th:field="*{startedWorking}" /> <br/>
    <input type="submit" value="Create" />
</form>

</body>
</html>
